@font-face {
  font-family: "Eina02-Regular";
  src: url(../fonts/Eina2-regular.otf);
}

@font-face {
  font-family: "Eina02-Light";
  src: url(../fonts/Eina2-light.otf);
}

@font-face {
  font-family: "Eina02-SemiBold";
  src: url(../fonts/Eina2-semibold.otf);
}
